<!--<div class="row header-container">-->
<!--<div class="panel panel-primary">-->
<!--<ul>-->
<!--<li>-->
<!--<i class="fa fa-bars" aria-hidden="true"></i>-->
<!--</li>-->
<!--<li>-->
<!--<h1><img [src]="LOGO" class="logo"></h1>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-6">-->
<!--<h1>test</h1>-->
<!--</div>-->
<!--</div>-->

<!--<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">-->
  <!--<button class="navbar-toggler navbar-toggler-right" type="button"-->
          <!--data-toggle="collapse" data-target="#containerNavbar"-->
          <!--aria-controls="containerNavbar"-->
          <!--aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <!--<img [src]="LOGO" class="logo">-->
  <!--&lt;!&ndash;<a class="navbar-brand" href="#"></a>&ndash;&gt;-->

  <!--<div class="collapse navbar-collapse" id="containerNavbar">-->
    <!--<ul class="navbar-nav mr-auto">-->
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Link</a>-->
      <!--</li>-->
      <!--<li class="nav-item dropdown">-->
        <!--<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
        <!--<div class="dropdown-menu" aria-labelledby="dropdown04">-->
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<div>-->
      <!--<button class="btn  my-2 my-sm-0 pull-right" type="submit">Log in</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->


<div class="masthead">
  <div class="text-muted">
    <button class="navbar-toggler collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span><i class="fa fa-bars" aria-hidden="true"></i></span>
    </button>
    <img [src]="LOGO" class="logo">
  </div>

  <div class="navbar-toggleable-md collapse navbar-light bg-faded rounded mb-3"
       id="navbarCollapse"
       aria-expanded="false">
    <ul class="nav navbar-nav text-md-center justify-content-md-between">
      <li class="nav-item active">
        <a class="nav-link" href="#">Breakfast<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lunch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Drinks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Snacks</a>
      </li>

      <!--<li class="nav-item dropdown">-->
        <!--<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
        <!--<div class="dropdown-menu" aria-labelledby="dropdown01">-->
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--</div>-->
      <!--</li>-->
    </ul>
  </div>


  <!--<nav class="navbar navbar-light bg-faded rounded mb-3">-->
    <!--<div class="navbar-toggleable-md collapse" id="navbarCollapse" aria-expanded="false" style="">-->
      <!--<ul class="nav navbar-nav text-md-center justify-content-md-between">-->
        <!--<li class="nav-item active">-->
          <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">Projects</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">Services</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">Downloads</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">About</a>-->
        <!--</li>-->
        <!--<li class="nav-item dropdown">-->
          <!--<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="dropdown01">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</nav>-->
</div>
